* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(0, 0%, 94%);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 150px 24px;
}
main {
  width: 100%;
  background-color: white;
  padding: 36px 24px;
  border-radius: 5% 5% 20% 5%;
}
.date_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.date_wrapper .input_wrapper {
  width: 80px;
}
.date_wrapper input {
  font-size: 20px;
  width: 100%;
  height: 48px;
  padding-left: 8px;
  border-radius: 8px;
  font-weight: 800;
  border: 1px solid grey;
}
.outputLine {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  font-size: 32px;
}
.seperator {
}
.submit_btn {
  position: relative;
}
.backgroundIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: hsl(259, 100%, 65%);
  width: 70px;
  height: 70px;
  justify-content: center;
  text-align: center;
  border-radius: 70px;
  transform: translate(-50%, -50%);
  border: 0px;
}
.backgroundIcon img {
  width: 32px;
}
.backgroundIcon button {
  border: 0px;
}
.output h2 {
  color: hsl(259, 100%, 65%);
  font-size: 56px;
  font-weight: 900;
  letter-spacing: -0.1em;
}
.output h3 {
  color: Black;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.01em;
}

hr {
  margin: 56px 0;
}
.date_wrapper h4 {
  opacity: 0.6;
  font-size: small;
  font-weight: 800;
  letter-spacing: 0.2em;
}
.date_wrapper h4 {
  margin-bottom: 4px;
}

.red-headline {
  color: #ff0000;
}
.boxError {
  color: #ff0000;
  font-style: italic;
  font-size: xx-small;
  margin-top: 2px;
  line-height: 100%;
}
